<footer class="footer-box" [@state]="showFooter">
  <div class="container">
    <div class="footer-main">
      <p class="footer-main-title">Element Angular - {{ version }}</p>
      <a href="https://github.com/dkashinsky/element-angular/issues"
        class="footer-main-link" target="_blank" i18n="@@footer-a-1">Feedback</a>
    </div>
    <div class="footer-social">
      <a href="https://github.com/dkashinsky/element-angular" target="_blank">
        GITHUB
      </a>
    </div>
  </div>
</footer>
